body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u15745_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15745_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u15746_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15746_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u15747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u15747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15747_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u15747.selected {
}
#u15747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u15748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:559px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u15750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:559px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u15750 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u15750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15751 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:140px;
  width:1043px;
  height:350px;
}
#u15752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15752 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15753 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15754 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15755 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15756 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15757 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15758 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15759 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15760 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15761 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15762 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15763 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15764 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15765 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:300px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
}
#u15767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:678px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u15767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15772 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:591px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15772_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15772.mouseOver {
  opacity:0.8;
}
#u15772_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15772.mouseDown {
  opacity:1;
}
#u15772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15773 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:591px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15773_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15773.mouseOver {
  opacity:0.8;
}
#u15773_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15773.mouseDown {
  opacity:1;
}
#u15773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15774 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:591px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15774_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15774.mouseOver {
  opacity:0.8;
}
#u15774_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 72, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u15774.mouseDown {
  opacity:1;
}
#u15774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15775 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:510px;
  width:1043px;
  height:50px;
}
#u15776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u15776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u15776 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u15777 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u15777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u15778 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:518px;
  width:403px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u15778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u15780 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u15780 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15780_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u15780.mouseOver {
}
#u15780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15782 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:18px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u15782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15783 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:18px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u15783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
