body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
}
#u7985_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
}
#u7986_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7986_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u7987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7987_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u7987.selected {
}
#u7987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u7989 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7989_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u7989.mouseOver {
}
#u7989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u7990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:125px;
}
#u7992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:45px;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:281px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:0px;
  width:178px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:170px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:0px;
  width:148px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:45px;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:0px;
  width:175px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u7997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:80px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:148px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  line-height:28px;
}
#u7998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:80px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:45px;
  width:281px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u7999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:80px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:45px;
  width:178px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:45px;
  width:170px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u8001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:80px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:45px;
  width:148px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u8002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:45px;
  width:175px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:28px;
}
#u8003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:322px;
  width:1100px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 250, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:1100px;
  height:60px;
  display:flex;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u8006 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8006_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
  line-height:40px;
}
#u8006.selected {
}
#u8006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:1100px;
  height:1269px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8008 .text {
  position:absolute;
  align-self:center;
  padding:0px 30px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:392px;
  width:1043px;
  height:530px;
}
#u8010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8010 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8012 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8014 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8017 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8019 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8021 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8023 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:300px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8025 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:350px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8027 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:400px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:80px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:151px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8029 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:80px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:450px;
  width:892px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u8030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1640px;
  width:1100px;
  height:100px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u8032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:942px;
  width:1043px;
  height:300px;
}
#u8036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8036 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8038 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8040 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8042 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8044 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8046 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1537px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8048_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8048.mouseOver {
  opacity:0.8;
}
#u8048_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8048.mouseDown {
  opacity:1;
}
#u8048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1262px;
  width:1043px;
  height:150px;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8050 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8052 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8054 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1432px;
  width:1043px;
  height:50px;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u8057 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u8058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1440px;
  width:403px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u8059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
